*{
    margin:0;
    padding:0;
    font-family:sans-serif;
    box-sizing:border-box;
    text-decoration:none;
}

body{
    height:100vh;
    background:url(Wallpaper-river-water-rocks-trees-greenery-Free-wallpapers-download.-Beautiful-wallpapers-widescreen-HD-3D-2560x1600-840x525.jpg);
    background-size:100% 100%;
    display:flex;
    justify-content: center;
    align-items:center

}
.profile-card{
    width:400px;
    text-align:center;
    border-radius:8px;
}
.card-header{
    background-color:blue;
    padding:60px 40px;
}
.picture img{
    display: block;
    width:100px;
    height:100px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.picture{
    display:inline-block;
    padding:8px;
    background:linear-gradient(130deg, #74b9ff,#e28341);
    margin:auto;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    animation:animation 2s linear infinite;
    background-size:200% 200%;
    -webkit-animation:animation 2s linear infinite;
}
@keyframes animation{
    25%{
        background-position:left bottom;
    }
    50%{
        background-position:right bottom;
    }
    75%{background-position:right top;}
    100%{
        background-position:left top;
    }
    
}
.name{
    color:#f2f2f2;
    font-size:28px;
    font-weight:600;
    margin:10px 0;
}
.desc{
    font-size:18px;
    color:#e28341;

}
.sm{
    display:flex;
    justify-content:center;
    margin:20px;
}
.sm a{
    color:#f2f2f2;
    width:56px;
    font-size:22px;
    transition: 2s linear;
    -webkit-transition: 2s linear;
    -moz-transition: 2s linear;
    -ms-transition: 2s linear;
    -o-transition: 2s linear;
}
.sm a:hover{
    color:#e66767;
}
.contact-btn{
    display:inline-block;
    padding:12px 50px;
    color:#e66767;
    border:2px solid #f2f2f2;
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
    margin-top:16px;
}
.contact-btn:hover{
    background:#e28341;
    color:#f2f2f2;
}
.card-footer{
    background-color:#74b9ff;
    padding:60px 10px;

}
.numbers{
    display:flex;
    align-items:center;
}
.item{
    flex:1;
    font-size:13px;
}
.item span{
    display:block;
color:#2c3a47;
font-size:30px;
}